/* About.css */
.about-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 1200px;
  padding: 2rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 2em;
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.personal-info {
  width: 30%;
}

.education {
  width: 65%;
}

.personal-info ul {
  list-style-type: none;
  padding: 0;
}

.personal-info li {
  margin-bottom: 0.5em;
}

/* Education table styles */
.education table {
  width: 100%;
  border-collapse: collapse;
}

.education th,
.education td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5em;
  text-align: left;
}

.education th {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links {
  text-align: center;
}

.social-links ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

.fab {
  margin-right: 0.5em;
}

/* Styles for EarthBackground component */
.earth-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-content {
    width: 95%;
    padding: 1rem;
  }

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1em;
  }

  .info-section {
    flex-direction: column;
  }

  .personal-info,
  .education {
    width: 100%;
    margin-bottom: 1.5em;
  }

  .social-links ul {
    flex-direction: column;
    align-items: center;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-content {
    padding: 1rem;
  }

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1em;
  }
}
.skills-button-container {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.skills-button {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  animation: slideDown 5s infinite;
  white-space: nowrap;
}

.skills-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

@keyframes slideDown {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

/* Responsive adjustments for the skills button */
@media (max-width: 768px) {
  .skills-button-container {
    right: 10px;
  }

  .skills-button {
    padding: 10px 20px;
    font-size: 1em;
  }
}
